@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-style: none;
}

/* 태그 선택 : 추천하는 각 태그별 기본값 */
a {
  text-decoration: none;
  /* 아래는 디자인 보고 수정 */
  color: #000000;
}
ul {
  list-style: none;
}
html {
  width: 100%;
  /* 반응형 최소 너비 설정 */
  min-width: 540px;
  /* 가로 스크롤은 UI상 좋지 않아서 숨긴다  */
  overflow-x: hidden;
  /* 아래는 디자인 보고 수정 */
  font-size: 12px; /*웹 브라우저상 폰트의 기본 사이즈는 12*/
}

body {
  width: 100%;
  /* 글꼴이 필요로 함 */
  font-family: "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
  font-size: 1rem; /*rem은 html의 폰트 사이즈 배 수 여기선 1rem은 12 2rm은 24*/
  letter-spacing: 0px;
  /* 아래는 디자인 보고 수정 */
  color: #000000;
  word-spacing: 0px;
}
span {
  display: block;
}
.wrap {
  width: 100%;
}

.layout {
  width: 100%; /*이건 안 적어도 기본 설정임*/
  max-width: 1280px; /*반응형 시작. 최대 넓이 1280*/
  margin: 0 auto;
  /*  margin-top: 0; 
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;*/
}

/* trip, ticket, live 상단 간격 */
.main_top {
  position: relative;
  margin-top: 80px;
  padding-bottom: 22px;
}
/* 반응형 작업 */
@media all and (max-width: 1280px) {
  .layout {
    max-width: 1024px;
  }
}
@media all and (max-width: 1024px) {
  .layout {
    max-width: 760px;
  }
}
@media all and (max-width: 760px) {
  .layout {
    min-width: 100%;
  }
}

.slide_bt {
  position: absolute;
  top: 50%;
  z-index: 100;
  /* transform: translateY(-50%); << 아래 translateX에 덮어 씌워짐 */
  width: 50px;
  height: 50px;
  background-color: rgba(
    255,
    255,
    255,
    0.85
  ); /*a는 투명도. 투명도 최대치는 1.0*/

  border: 1px solid #e6e6e6;
  border-radius: 50%; /*px가능 그러나 %가 낫다*/
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);

  cursor: pointer;
}
.slide_bt_left {
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotateY(180deg); /*위에(29번줄) translatey적으면 x에 덮어 씌워지기 때문에 X와 Y같이 써준다. / 180deg = 180도*/
}
.slide_bt_right {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

/* swiper 버튼 비활성시 표현 */
.swiper-button-disabled {
  display: none !important;
}

/* 팝업창 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  /* 아래처럼 해도 됩니다. */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_content {
  position: relative;
  width: 50.78vw;
  max-width: 650px;
  height: 31.25vw; /*너비를 기준으로 잡았기 때문에 vh가 아닌 vw이다 */
  max-height: 400px;
  margin: 0 auto;
  background-color: yellowgreen;
}
