@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

/* 태그 선택 : 추천하는 각 태그별 기본값 */
a {
  text-decoration: none;
  /* 아래는 디자인 보고 수정 */
  color: #000000;
}
ul {
  list-style: none;
}
html {
  width: 100%;
  /* 아래는 디자인 보고 수정 */
  font-size: 12px; /*웹 브라우저상 폰트의 기본 사이즈는 12*/
}

body {
  width: 100%;
  font-size: 1rem; /*rem은 html의 폰트 사이즈 배 수 여기선 1rem은 12 2rm은 24*/
  /* 아래는 디자인 보고 수정 */
  color: #000000;
  /* 글꼴이 필요로 함 */
  font-family: "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
  letter-spacing: 0px;
  word-spacing: 0px;
}

.wrap {
  width: 100%;
}

.layout {
  max-width: 1280px; /*반응형 시작. 최대 넓이 1280*/
  width: 100%; /*이건 안 적어도 기본 설정임*/
  margin: 0 auto;
  /*  margin-top: 0; 
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;*/
}
