.wrap{
  position: relative;
  .header{
    width: 100%;
    &_left{
      position: relative;
      &_box {
        position: relative;
      }
    }  
  }
  .main{
    display: flex;
  }
  .footer{
    display: flex;
  }
}