.tour {
  position: relative;
  margin-top: 65px;
}

.section_top {
  padding-bottom: 22px;
}
.section_title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.section_desc {
  display: block;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: rgba(0, 0, 7%, 0.75);
}
.section_list {
  position: relative;
}
.section_category {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
.section_category_bts {
  display: flex;
  gap: 6px;
}
.section_category_bts > li {
}
.section_category_bts > li > button {
  padding: 15px 20px;

  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 52px;

  transition: all 0.4s;
  cursor: pointer;
}
.section_category_bts > li > button.cate_focus {
  font-weight: 700;
  color: #fff;
  background-color: #333333;
  border: 1px solid #333333;
}

.section_slide {
  position: relative;
  margin-bottom: 20px;
  
}
.item {
  position: relative;
  flex: 1; /*이미지 비율을 똑같이 맞춰라*/
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.item > a {
}
.item_image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 25px;
}

.item_image > img {
  display: block;
  width: 100%;
  height: 100%;
  /* 비율을 유지하면서 영역에 이미지 가득 채우기 */
  object-fit: cover;
}

.item_name {
  position: absolute;
  top: 235px;
  left: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #1769ff;

  border-radius: 4px;
}

.item_text {
  padding: 20px;
  border-radius: 50px;
  padding-top: 5px;
}

.item_cupon {
  display: block; /*text에다가 block을 줘도 여기서는 inline이라서 white-space부터 text-overflow까지 적용이 안 될 수도 있다. 때문에 여기에다가 block을 준다*/
  /* 말줄임 처리 */
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #1769ff;
  /* 줄내림 방지 */
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item_desc {
  display: block; /*p태그는 기본 display:block이지만 적어주는걸 권장함 */
  /* 말줄임 처리 */
  overflow: hidden;
  font-size: 14px;
  color: #333333;
  /* 줄내림 방지 */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item_price {
  font-size: 16px;
  font-weight: 400;
}
.item_price > b {
  font-size: 20px;
  font-weight: 700;
}

.section_bts {
  display: flex;
  justify-content: center;
}
.section_bts > a {

  display: flex;
  align-items: center;
  padding: 20px 40px;

  font-size: 16px;
  font-weight: 600; /*px 쓰지말것*/
  background-color: #fff;
  border: 1px solid #e5e5e5;

  border-radius: 40px;
  gap: 5px;
}
.section_bts > a > img {
  transform: translateY(1px);
}